<!DOCTYPE html>
<html>
<head>
  <title>Cinema Hop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] %>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% City.all.order("name ASC").each do |city| %>
      <tr>
        <td><%= link_to city.name, city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => 'partials/movies_list', :locals => { :movies => @city.current_movies } %>

<%= yield %>

</body>
</html>
